Project 3 Part 1 (Core)


Business Problem
For this project, you have been hired to produce a MySQL database on Movies from a subset of IMDB's publicly available dataset. Ultimately, you will use this database to analyze what makes a movie successful and will provide recommendations to the stakeholder on how to make a successful movie.

In [ ]:
# IMPORT THE PACKAGE

import pandas as pd
import numpy as np

In [3]:
# upload the files
basics = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', 
                     sep='\t', low_memory=False)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"

In [4]:
ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', 
                      sep='\t', low_memory=False)

In [5]:
akas = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', 
                   sep='\t', low_memory=False)

In [6]:
# replace the bad spelling missing values with Nan
basics = basics.replace({'\\N':np.nan}) 
ratings = ratings.replace({'\\N':np.nan}) 
akas = akas.replace({'\\N':np.nan})

In [7]:
# getting just the movies
basics = basics.loc[basics['titleType'] == 'movie']

In [9]:
# deliting the missing values
basics = basics.dropna(subset = ['runtimeMinutes', 'genres','startYear'])

In [10]:
# loc the dates the request from us 
basics['startYear'] = basics['startYear'].astype(int)
basics = basics.loc[(basics['startYear'] >= 2000) 
                    & (basics['startYear'] <= 2022)]

In [12]:
# taking out the documentary from our data
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [15]:
# checking the values
basics['genres'].unique

<bound method Series.unique of 34805         Comedy,Fantasy,Romance
61119                          Drama
67672                          Drama
77968                      Drama,War
86806           Comedy,Horror,Sci-Fi
                     ...
8875176                        Drama
8875185    Action,Adventure,Thriller
8875224                     Thriller
8875269                Drama,History
8875353                        Drama
Name: genres, Length: 138665, dtype: object>

In [16]:
# just us movies
akas = akas.loc[akas['region'] == 'US']

In [18]:
keepers = basics['tconst'].isin(akas['titleId'])

In [22]:
# loading to our file
import os
os.makedirs('movies/',exist_ok=True) 
# Confirm folder created
os.listdir("movies/")

[]

In [24]:
# loading to our file
basics.to_csv('movies/basics.csv.gz',compression='gzip',index=False)
ratings.to_csv('movies/ratings.csv.gz',compression='gzip',index=False)
akas.to_csv('movies/akas.csv.gz',compression='gzip',index=False)

In [25]:
basics = pd.read_csv("movies/basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"